.text-primary {
    color: $primaryColor !important;
}

.text-blue {
    color: #4B99FF !important;
}

.text-dark {
    color: #4D4D4D !important;
}

.text-light {
    color: #515151 !important;
}
.text-lighten {
    color: #B5B5B5 !important;
}

.text-danger{
    color: #F20045;
}