// Font Weight
// ================================
.fw-300 {
    font-weight: 300 !important;
}
.fw-400 {
    font-weight: 400 !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.fw-600 {
    font-weight: 600 !important;
}
.fw-700 {
    font-weight: 700 !important;
}
.fw-900 {
    font-weight: 900 !important;
}

// text properties
.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

// font sizes
.fs11 {
    font-size: rem(11) !important;
}
.fs16 {
    font-size: rem(16) !important;
}

.fs20 {
    font-size: rem(20) !important;
}