$white: #ffffff;
$black: #000000;

$orange: #FF6F00;
$dark: #1D1D1E;
$border: #ECECEC;
$bodyBg: #FAFAFA;

$primaryColor: $orange;

$bodyTextColor: $dark;
$fontPrimary: 'Segoe UI', sans-serif;
$baseFontSize: 14;
$borderWidth: 1px;