.cartItem{
    padding: 17px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__info{
        display: flex;
        &__image{
            border: 1px solid #ECECEC;
            border-radius: 5px;
            width: 120px;
            height: 140px;
            padding: 5px;
            margin-right: 42px;
        }
    }
    &__action{
        display: flex;
    }
}